<header>
  <h1><%=link_to "manaberu",homes_about_path, class:"link-green" %></h1>
  <% if parent_logged_in? %>
  <ul class="gnav">
    <li><%=link_to current_user_parent.name, parent_path(current_user_parent), class: "link-green" %></li>
    <li>
      <a href="#" ontouchsrart=""><span>メニュー</span></a>
      <ul>
        <li><%=link_to "ユーザー編集", edit_parent_path(current_user_parent), class: "link-green" %></li>
        <li><%=link_to "ログアウト", logout_path, {method: :delete , class: "link-green"} %></li>
      </ul>
    </li>
  </ul>
  <% elsif child_logged_in? %>
  <ul class="gnav">
    <li><%=link_to current_user_child.nickname, child_path(current_user_child), class: "link-green" %></li>
    <li>
      <a href="#" ontouchsrart=""><span>メニュー</span></a>
      <ul>
        <li><%=link_to "授業一覧", posts_path %></li>
        <li><%=link_to "先生一覧", givings_path %></li>
        <li><%=link_to "ユーザー編集", edit_child_path(current_user_child), class: "link-green" %></li>
        <li><%=link_to "ログアウト", child_logout_path, {method: :delete , class: "link-green"} %></li>
      </ul>
    </li>
  </ul>
  <% elsif giving_logged_in? %>
  <ul class="gnav">
    <li><%=link_to current_user_giving.name, giving_path(current_user_giving), class: "link-green" %></li>
    <li>
      <a href="#" ontouchsrart=""><span>メニュー</span></a>
      <ul>
        <li><%=link_to "授業を作る", new_post_path, class: "link-green" %></li>
        <li><%=link_to "ユーザー編集", edit_giving_path(current_user_giving), class: "link-green" %></li>
        <li><%=link_to "ログアウト", giving_logout_path, {method: :delete , class: "link-green"} %></li>
      </ul>
    </li>
  </ul>
  <% else %>
  <ul class="gnav">
    <li>
      <a href="#" ontouchsrart="">メニュー</a>
      <ul>
        <li><%=link_to "先生はこちら", homes_giving_top_path %></li>
      </ul>
    </li>
  </ul>
  <% end %>
</header>

<div class="mar"></div>
